<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>

        <!-- ici, on trouvera les choses communes à toutes nos vues -> au dessus du block body !! -->

        <nav>
            <ul>
                <li>
                    <!-- dans symfony, les liens s'écrivent d'une certaine façon :
                    dans path, on met le nom de la méthode qui sert à afficher la liste d'entreprise, qui est "app_entreprise", nom de la méthode index() de EntrepriseController  -->
                    <a href="{{ path('app_entreprise') }}">Liste des entreprises</a>
                </li>
                <li>
                    <a href="{{ path('app_employe') }}">Liste des employés</a>
                </li>
            </ul>
        </nav>

        {% block body %}{% endblock %}
        
    </body>
</html>
